<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbt.beidou.base.dao.BdMsgNoticeMapper">
  <resultMap id="BaseResultMap" type="com.ctbt.beidou.base.model.BdMsgNotice">
    <id column="msg_id" jdbcType="INTEGER" property="msgId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="msg_txt" jdbcType="VARCHAR" property="msgTxt" />
    <result column="msg_from" jdbcType="VARCHAR" property="msgFrom" />
    <result column="msg_to" jdbcType="VARCHAR" property="msgTo" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_id, send_time, msg_txt, msg_from, msg_to
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bd_msg_notice
    where msg_id = #{msgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bd_msg_notice
    where msg_id = #{msgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctbt.beidou.base.model.BdMsgNotice">
    insert into bd_msg_notice (msg_id, send_time, msg_txt, 
      msg_from, msg_to)
    values (#{msgId,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, #{msgTxt,jdbcType=VARCHAR}, 
      #{msgFrom,jdbcType=VARCHAR}, #{msgTo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ctbt.beidou.base.model.BdMsgNotice">
    insert into bd_msg_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="msgTxt != null">
        msg_txt,
      </if>
      <if test="msgFrom != null">
        msg_from,
      </if>
      <if test="msgTo != null">
        msg_to,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        #{msgId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="msgTxt != null">
        #{msgTxt,jdbcType=VARCHAR},
      </if>
      <if test="msgFrom != null">
        #{msgFrom,jdbcType=VARCHAR},
      </if>
      <if test="msgTo != null">
        #{msgTo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctbt.beidou.base.model.BdMsgNotice">
    update bd_msg_notice
    <set>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="msgTxt != null">
        msg_txt = #{msgTxt,jdbcType=VARCHAR},
      </if>
      <if test="msgFrom != null">
        msg_from = #{msgFrom,jdbcType=VARCHAR},
      </if>
      <if test="msgTo != null">
        msg_to = #{msgTo,jdbcType=VARCHAR},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctbt.beidou.base.model.BdMsgNotice">
    update bd_msg_notice
    set send_time = #{sendTime,jdbcType=TIMESTAMP},
      msg_txt = #{msgTxt,jdbcType=VARCHAR},
      msg_from = #{msgFrom,jdbcType=VARCHAR},
      msg_to = #{msgTo,jdbcType=VARCHAR}
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>
  
  
   <select id="findAll" parameterType="java.util.Map" resultType="Map">
  select e.user_name , f.phone , f.ship_id , f.ship_name , f.card_no1 , f.user_id from bd_user_detail as e , 
  (select c.phone , d.ship_id , d.ship_name , d.card_no1 , d.user_id from bd_user as c ,
  (select a.ship_id , a.ship_name , a.card_no1 , b.user_id from bd_ship as a , bd_ship_user as b where a.ship_id = b.ship_id) as d where c.user_id = d.user_id) as f 
  where e.user_id = f.user_id order by ship_id
	</select>
  
  <insert id="toInsertMsg" parameterType="java.util.List">
  insert into bd_msg_notice (send_time,msg_txt,msg_from,msg_to)
  values
  <foreach collection="list" item="item" index="index" separator=",">
            (#{item.sendTime,jdbcType=TIMESTAMP},#{item.msgTxt,jdbcType=VARCHAR},#{item.msgFrom,jdbcType=VARCHAR},
            #{item.msgTo,jdbcType=VARCHAR})
  </foreach>  
  </insert>
  
  <select id="searchInfo" parameterType="java.lang.String" resultType="Map">
  select * from 
  (select e.user_name , f.phone , f.ship_id , f.ship_name , f.card_no1 , f.user_id from bd_user_detail as e , 
  (select c.phone , d.ship_id , d.ship_name , d.card_no1 , d.user_id from bd_user as c ,
  (select a.ship_id , a.ship_name , a.card_no1 , b.user_id from bd_ship as a , bd_ship_user as b where a.ship_id = b.ship_id) as d where c.user_id = d.user_id) as f 
  where e.user_id = f.user_id order by ship_id)as x where x.user_name like #{text} or x.phone like #{text} or
  x.ship_name like #{text} or x.card_no1 like #{text}
  </select>
  
  <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
  select  <include refid="Base_Column_List" /> 
  from bd_msg_notice where msg_id is not null
      <if test="sendTime != null">
        and send_time = #{sendTime,jdbcType=TIMESTAMP}
      </if>
 
      <if test="msgTxt != null">
        and msg_txt = #{msgTxt,jdbcType=VARCHAR}
      </if>
      <if test="msgFrom != null">
        and msg_from = #{msgFrom,jdbcType=VARCHAR}
      </if>
     
      <if test="msgTo != null">
        and msg_to = #{msgTo,jdbcType=VARCHAR}
      </if>    
      order by send_time DESC
  </select>
  
</mapper>