<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbt.beidou.base.dao.BdShipUserMapper">
  <resultMap id="BaseResultMap" type="com.ctbt.beidou.base.model.BdShipUserKey">
    <id column="ship_id" jdbcType="INTEGER" property="shipId" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ctbt.beidou.base.model.BdShipUserKey">
    delete from bd_ship_user
    where ship_id = #{shipId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ctbt.beidou.base.model.BdShipUserKey">
    insert into bd_ship_user (ship_id, user_id)
    values (#{shipId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ctbt.beidou.base.model.BdShipUserKey">
    insert into bd_ship_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shipId != null">
        ship_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shipId != null">
        #{shipId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>